﻿@using PetShopFinal.ViewModels;
@{
    ViewData["Title"] = "Home";
    HomeViewModel homeViewModel = Model;
    var puffles = homeViewModel.Puffles;
    var featureds = homeViewModel.Featured;
    var offers = homeViewModel.Offer;
    var hurries = homeViewModel.Hurry;
    var teamlgs = homeViewModel.TeamLG;
    var treats = homeViewModel.Treats;
    var news = homeViewModel.News;
    var organicLG = homeViewModel.OrganicLG;
}

<main>

    <section class="my-0 puffles">
        <section class="search d-none">
            <div class="content_search">
                <div class="search_cont">
                    <input placeholder="Search..." type="search" name="" id="">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </section>
        <div class="all_puffles">
            <div class="container">
                @foreach (var puffle in puffles)
                {
                    <div class="content_puffles">
                        <h1>@Html.Raw(puffle.Title)</h1>
                        <h3>@Html.Raw(puffle.Description)</h3>
                        <h4>
                            @Html.Raw(puffle.Explanation)
                        </h4>
                        @Html.Raw(puffle.Link)

                    </div>
                }

            </div>
        </div>
    </section>

    <section class="featured_products">
        <div class="all_fetured">
            <div class="container">
                <div class="content_featured">
                    <div class="head_featured">
                        <h2>Featured products</h2>
                    </div>

                    <div class="row">
                        @foreach (var featured in featureds)
                        {
                            <div class="col-lg-4">
                                <div class="box_featured_content">
                                    <div class="box_featured">
                                        <div class="photo_featured">
                                            <img src="~/assets/@featured.ImageUrl" alt="" />
                                        </div>
                                        <div class="link_featured1">
                                            @Html.Raw(featured.Title)
                                        </div>
                                        <div class="link_featured2">
                                            @Html.Raw(featured.Link)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="offer">
        <div class="all_offer">
            <div class="container">
                <div class="content_offer">
                    <div class="head_offer">
                        <h2>What we offer</h2>
                    </div>
                    <div class="row g-4">
                        @foreach (var offer in offers)
                        {
                            <div class="col-lg-4 offer_lg">
                                <div class="box_offer_content">
                                    <div class="box_content">
                                        <div class="photo_offer">
                                            <img src="~/assets/@offer.ImageUrl" alt="" />
                                        </div>
                                        <div class="text_offer">
                                            <a href="">@offer.Title</a>
                                            <p>
                                                @Html.Raw(offer.Description)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hurry">
        <div class="all_hurry">
            <div class="container">
                <div class="content_hurry">
                    @foreach (var hurry in hurries)
                    {
                        <h2>@hurry.Title</h2>
                        <h4>@hurry.Description</h4>
                        <p>
                            @Html.Raw(hurry.Explanation)
                        </p>
                        <a href="">@hurry.Link</a>

                    }
                </div>
            </div>
        </div>
    </section>

    <section class="about">
        <div class="container">
            <div class="content_about">
                <div class="head_about">
                    <h2>About Us</h2>
                </div>
                <div class="bottom_about">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="box_about">
                                <img src="~/assets/photos/about-4-570x511.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="box_about about_row">
                                <div class="square">
                                    <div class="box_info">
                                        <a href="">
                                            We always strive for being professional and
                                            consistent
                                        </a>
                                        <p id="1" class="missions">
                                            Our work is defined by certain values that include
                                            excellence, care, professionalism, innovation, and
                                            consistency. We aim to provide the best pet care
                                            services to you.
                                        </p>
                                        <p id="2" class="missions d-none">Our vision at Puffles is to become the #1 online store for pets as well as the space where owners can get any kind of pet-related services at an affordable price.</p>
                                        <p id="3" class="missions d-none">
                                            Our work is defined by certain values that include excellence, care, professionalism, innovation, and consistency. We aim to provide the best pet care services to you.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab">
                                    <div class="row text-center">
                                        <div data-id="1" class="col-lg-4 digits ">
                                            <div class="number digit_color">
                                                <h1>01</h1>
                                                <a href="">OUR MISSION</a>
                                            </div>
                                        </div>
                                        <div data-id="2" class="col-lg-4 digits">
                                            <div class="number">
                                                <h1>02</h1>
                                                <a href="">OUR VISION</a>
                                            </div>
                                        </div>
                                        <div data-id="3" class="col-lg-4 digits">
                                            <div class="number">
                                                <h1>03</h1>
                                                <a href="">OUR VALUES</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <swiper-container class="mySwiper"
                      space-between="30"
                      pagination="true"
                      pagination-clickable="true">
        <swiper-slide>
            <div class="box_team">
                <div class="img_team">
                    <img src="~/assets/photos/team-8-249x249.jpg" alt="" />
                </div>
                <div class="text_team">
                    <a href="">Richard Smith</a>
                    <p>
                        Senior salesman with 15 years of experience. He knows everything
                        about the pet products he offers.
                    </p>
                    <div class="icons_team">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-google-plus-g"></i>
                    </div>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="box_team">
                <div class="img_team">
                    <img src="~/assets/photos/team-9-249x249.jpg" alt="" />
                </div>
                <div class="text_team">
                    <a href="">Susan Anderson</a>
                    <p>
                        Mega positive shop assistant who is always ready to help you
                        make the right choice and charm you with a smile.
                    </p>
                    <div class="icons_team">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-google-plus-g"></i>
                    </div>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="box_team">
                <div class="img_team">
                    <img src="~/assets/photos/team-10-249x249.jpg" alt="" />
                </div>
                <div class="text_team">
                    <a href="">Richard Smith</a>
                    <p>
                        Steve ia the leading groomer at Puffles. He is always ready to
                        make your pet look and feel good.
                    </p>
                    <div class="icons_team">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-google-plus-g"></i>
                    </div>
                </div>
            </div>
        </swiper-slide>
    </swiper-container>

    <swiper-container class="mySwiper672"
                      space-between="30"
                      pagination="true"
                      pagination-clickable="true"
                      slides-per-view="2">
        <swiper-slide>
            <div class="box_team">
                <div class="img_team">
                    <img src="~/assets/photos/team-8-249x249.jpg" alt="" />
                </div>
                <div class="text_team">
                    <a href="">Richard Smith</a>
                    <p>
                        Senior salesman with 15 years of experience. He knows everything
                        about the pet products he offers.
                    </p>
                    <div class="icons_team">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-google-plus-g"></i>
                    </div>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="box_team">
                <div class="img_team">
                    <img src="~/assets/photos/team-9-249x249.jpg" alt="" />
                </div>
                <div class="text_team">
                    <a href="">Susan Anderson</a>
                    <p>
                        Mega positive shop assistant who is always ready to help you
                        make the right choice and charm you with a smile.
                    </p>
                    <div class="icons_team">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-google-plus-g"></i>
                    </div>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="box_team">
                <div class="img_team">
                    <img src="~/assets/photos/team-10-249x249.jpg" alt="" />
                </div>
                <div class="text_team">
                    <a href="">Richard Smith</a>
                    <p>
                        Steve ia the leading groomer at Puffles. He is always ready to
                        make your pet look and feel good.
                    </p>
                    <div class="icons_team">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-google-plus-g"></i>
                    </div>
                </div>
            </div>
        </swiper-slide>
    </swiper-container>

    <section class="team">
        <div class="container">
            <div class="content_team">
                <div class="head_team text-center">
                    <h2>Our Team</h2>
                </div>
                <div class="bottom_team text-center">
                    <div class="row">
                        @foreach (var teamlg in teamlgs)
                        {
                            <div class="col-lg-4">
                                <div class="box_team">
                                    <div class="img_team">
                                        <img src="~/assets/@teamlg.ImageUrl" alt="" />
                                    </div>
                                    <div class="text_team">
                                        <a href="">@teamlg.Name</a>
                                        <p>
                                            @teamlg.Description
                                        </p>
                                        <div class="icons_team">
                                            <i class="fa-brands fa-facebook-f"></i>
                                            <i class="fa-brands fa-twitter"></i>
                                            <i class="fa-brands fa-instagram"></i>
                                            <i class="fa-brands fa-google-plus-g"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="treats">
        <div class="container">
            <div class="content_treats">
                <div class="text_treats text-center">
                    @foreach (var treat in treats)
                    {
                        <h2>@treat.Title</h2>
                        <h4>
                            @treat.Description
                        </h4>
                        <a href="">@treat.Link</a>
                    }
                </div>
            </div>
        </div>
    </section>

    <section class="news">
        <div class="container">
            <div class="content_news">
                <div class="head_news text-center">
                    <h2>Latest News</h2>
                </div>
                <div class="imgs_news">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="box_news">
                                <img src="~/assets/photos/post-1-570x461.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-6 boxes_news flex-column d-flex justify-content-between">
                            @foreach (var item in news)
                            {
                                <div class="box_news_bottom d-flex">
                                    <img src="~/assets/@item.ImageUrl" alt="" />
                                    <div class="text_news">
                                        <p>@item.Year</p>
                                        <a href="">@item.Description</a>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="organic">
        <div class="container">
            <div class="content_organic">
                <div class="row">
                    @foreach (var item in organicLG)
                    {
                        <div class="col-lg-2-5">
                            <div class="box_organic">
                                <img src="~/assets/@item.ImageUrl" alt="" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

    <swiper-container class="sm_organic"
                      space-between="30"
                      pagination="true"
                      pagination-clickable="true"
                      slides-per-view="2">
        @foreach (var item in organicLG)
        {
            <swiper-slide>
                <div class="box_organic">
                    <img src="~/assets/@item.ImageUrl" alt="" />
                </div>
            </swiper-slide>
        }
    </swiper-container>

    <swiper-container class="xs_organic"
                      space-between="30"
                      pagination="true"
                      pagination-clickable="true"
                      slides-per-view="3">
        @foreach (var item in organicLG)
        {
            <swiper-slide>
                <div class="box_organic">
                    <img src="~/assets/@item.ImageUrl" alt="" />
                </div>
            </swiper-slide>
        }
    </swiper-container>

    <swiper-container class="organic_768"
                      space-between="30"
                      pagination="true"
                      pagination-clickable="true"
                      slides-per-view="4">
        @foreach (var item in organicLG)
        {
            <swiper-slide>
                <div class="box_organic">
                    <img src="~/assets/@item.ImageUrl" alt="" />
                </div>
            </swiper-slide>
        }
    </swiper-container>

</main>